@{
    ViewBag.Title = "O nas";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Firma powstała w 1997 roku. Od założenia wykonaliśmy 30.000 napraw, zawsze satysfakcjonujących klienta. Zatrudniamy 15 osób, są to najlepsi, sprawdzeni fachowcy.</p>
