@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Wrocław<br />
    ul. Żabia 100/120<br />
    <abbr title="Telefon">P:</abbr>
    745.322.123
</address>

<address>
    <strong>Masz pytania?:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    
</address>