@{
    ViewBag.Title = "Strona główna";
}

<div class="jumbotron">
    <h1>Auto Serwis</h1>
    <p class="lead">Witamy w Auto Serwisie! Jesteśmy firmą z wieloletnim doświadczeniem, wykonaliśmy tysiące napraw. Satysfakcja klienta jest dla nas priorytetem.  </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
</div>